<!DOCTYPE html>
<html>
<head>

    <!-- /.website title -->
    <title>Barathon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">

    <!-- CSS Files -->
    {% block stylesheets %}
        <link href="{{ asset('assets/frontPage/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
        <link href="{{ asset('assets/frontPage/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/frontPage/css/fonts/icon-7-stroke/css/pe-icon-7-stroke.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/frontPage/css/animate.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('assets/frontPage/css/owl.theme.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/frontPage/css/owl.carousel.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/frontPage/fonts/icon-7-stroke/css/helper.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/frontPage/fonts/icon-7-stroke/css/pe-icon-7-stroke.css') }}" rel="stylesheet">
        <!-- Colors -->
        <!--<link href="css/css-index.css" rel="stylesheet" media="screen">-->
        <!-- <link href="css/css-index-green.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-purple.css" rel="stylesheet" media="screen"> -->
        <!-- <link href="css/css-index-red.css" rel="stylesheet" media="screen"> -->
        <link href="{{ asset('assets/frontPage/css/css-index-orange.css') }}" rel="stylesheet" media="screen">
        <!-- <link href="css/css-index-yellow.css" rel="stylesheet" media="screen"> -->
    {% endblock %}

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />

</head>

{% block page %}
{% endblock %}

<!-- /.javascript files -->
<script src="{{ asset('assets/frontPage/js/jquery.js') }}"></script>
<script src="{{ asset('assets/frontPage/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/frontPage/js/custom.js') }}"></script>
<script src="{{ asset('assets/frontPage/js/jquery.sticky.js') }}"></script>
<script src="{{ asset('assets/frontPage/js/wow.min.js') }}"></script>
<script src="{{ asset('assets/frontPage/js/owl.carousel.min.js') }}"></script>
<script>
    new WOW().init();
</script>
</body>
</html>